.DS_Store
/ToolSources/JSXSparkerConfig/RegisterMBS.xojo_xml_code
/devtools/macCodesignID.txt
/ToolSources/JSXSparkerConfig/.JSXSparkerConfig.xojo_uistate
/ToolSources/JSXSparkerConfig/Builds - JSXSparkerConfig/
/run.jsx
/ReadMe for JSX Sparker.md
/BuildSettings/
/jsx/
/shared_js_jsx/
/VSCode/
/.vscode/
